.hex-letter-spacing{
  letter-spacing: 3px;
}
.show{
  display: default;
}
.hide{
  display: none;
}
div.color-picker-js{
  border: black solid 1px;
  background-color: #4285f4;
  position: absolute;
  top: 100px;
  left: 100px;
}
div.close-block{
  padding: 8px 0;
}
button.close-but{
  position: relative;
  left: 90%;
  padding: 0 5px;
}
div.main-block{
  background-color: white;
  margin: 0 10px 10px 10px;
  padding: 10px;
}
div.hue-block{
  width: 362px;
  margin: 0 13px 20px 13px;
  position: relative;
}
canvas.hue-canvas,
canvas.sl-canvas,
canvas.opacity-canvas
{
  border: black solid 1px;
}
div.slider-button{
  border-radius: 50%;
  background-color: #7295a6;
  border: black solid 1px;
  position: absolute;
}
div.slider-button:hover{
  cursor: pointer;
}
div.hue-slider-button{
  width: 26px;
  height: 26px;
  top: -3px;
  left: -13px;
}
div.sl-opacity{
  margin-left: 20px;
  margin-top: 30px;
}
div.opacity-block{
  display: inline-block;
  width: 32px;
  height: 202px;
  margin-left: 70px;
  position: relative;
}
div.opacity-slider-button{
  width: 26px;
  height: 26px;
  top: 187px;
  left: -3px;
}
input.color-code{
  width: 200px;
  font-size: 1em;
  margin-top: 25px;
  margin-left: 20px;
  padding: .2em;
}
div.selected-color{
  width: 50px;
  height: 50px;
  border: black solid 1px;
  display: inline-block;
  margin-top: 50px;
  position: absolute;
  left: 300px;
}
div.conversion-buttons{
  margin: 15px 0 0 20px;
}
div.conversion-buttons button{
  background-color: #4285f4;
  font-size: 1em;
  padding: .2em .4em;
  color: white;
}
div.conversion-buttons button:not(:last-child){
  margin-right: 1em;
}
div.conversion-buttons button:hover{
  cursor: pointer;
}
div.cancel-select{
  margin: 2.5em 0 .5em 0;
}
div.cancel-select button{
  font-size: 1.1em;
  padding: .1em .4em;
}
div.cancel-select button.cancel-but{
  margin: 0 10px 0 210px;
}
